@import "typography.css";
@import "spacing.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

#outlet > [id^="ROOT-"] {
    display: contents;
}

.hide_empty:empty {
    display: none;
}

.overflow-y-auto {
    overflow-y: auto;
}

.object-fit-contain {
    object-fit: contain;
}

.width-fit-content {
    width: fit-content;
}

vaadin-upload[invalid] {
    background-color: var(--lumo-error-color-10pct);
    border: 0.025rem dashed var(--lumo-error-color-50pct);
}